<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home REST API Client</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        input, button {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1>Home Page REST API Client</h1>

    <h2>1. Регистрация</h2>
    <a href="http://localhost:3000/logup">Регистрация</a>

    <h2>2. Логин</h2>
    <a href="http://localhost:3000/login"> Логин</a>
    


    <!-- <script>
        let accessToken = '';
        let refreshToken = '';
        const HOST = 'http://localhost:3000';

        function register() {
            const id = document.getElementById('registerId').value;
            const password = document.getElementById('registerPassword').value;

            fetch(HOST+ '/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, password })
            })
            .then(response => response.json())
            .then(data => {            
              alert('Registration successful!');
            })
            .catch(error => console.error('Error:', error));
        }

        function login() {
            const id = document.getElementById('loginId').value;
            const password = document.getElementById('loginPassword').value;           

            fetch(HOST + '/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, password })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (!data.error) {
                    accessToken = data.accessToken;
                    console.log('Acceess Token Stored In memory!');
                    console.log(accessToken);                    
                }               
                alert('Login successful!');
            })
            .catch(error => console.error('Error:', error));
        } -->

        
    </script>
</body>
</html>