<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API Client</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        input,
        button {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <h1>REST API Client</h1>

    <h2>1. Регистрация</h2>
    <input type="text" id="registerId" placeholder="Email or Phone">
    <input type="password" id="registerPassword" placeholder="Password">
    <button onclick="register()">Register</button>

    <h2>2. Логин</h2>
    <input type="text" id="loginId" placeholder="Email or Phone">
    <input type="password" id="loginPassword" placeholder="Password">
    <button onclick="login()">Login</button>

    <h2>3. Информация о пользователе</h2>
    <button onclick="getUserInfo()">Get User Info</button>
    <div id="userInfo"></div>

    <h2>4. Logout</h2>
    <button onclick="logout()">Logout</button>

    <h2>5. Загрузка файлов</h2>
    <input type="file" id="fileInput">
    <button onclick="uploadFile()">Upload File</button>

    <h2>Список файлов</h2>
    <button onclick="listFiles()">List Files</button>
    <div id="fileList"></div>

    <script>
        let accessToken = '';
        let refreshToken = '';
        const HOST = 'http://192.168.100.5:3000';

        function parseJwtToken(token) {
            const base64Url = token.split('.')[1];
            console.log('!!! base64Url !!!');
            console.log(base64Url);
            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            console.log('!!!  base64  !!!');
            console.log(base64);
            const jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            console.log('!!!   jsonPayload  !!!');
            console.log(jsonPayload);

            return JSON.parse(jsonPayload);

        };

        function isTokenValid(token) {
            const payload = parseJwtToken(token);
            const currentTime = Math.floor(Date.now() / 1000);

            return payload.exp > currentTime;
        }


        function register() {
            const id = document.getElementById('registerId').value;
            const password = document.getElementById('registerPassword').value;

            fetch(HOST + '/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, password })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    accessToken = data.accessToken;
                    alert('Registration successful!');
                })
                .catch(error => console.error('Error:', error));
        }

        function login() {
            const id = document.getElementById('loginId').value;
            const password = document.getElementById('loginPassword').value;

            fetch(HOST + '/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, password })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (!data.error) {
                        accessToken = data.accessToken;
                        console.log('Acceess Token Stored In memory!');
                        console.log(accessToken);
                    }
                    alert('Login successful!');
                })
                .catch(error => console.error('Error:', error));
        }

        function getUserInfo() {
            // parseJwtToken(accessToken);
            if (isTokenValid(accessToken)) {
                console.log('Access Token is OK!!!');
                fetch(HOST + '/info', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        document.getElementById('userInfo').innerText = `User ID: ${data.id}`;
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                console.log('Access Token Expired!');
                document.getElementById('userInfo').innerText = '';
                fetch(
                    HOST + '/signin/new_token', {
                    method: 'POST',
                })
                    .then(response => response.json())
                    .then(data => {
                        accessToken = data.accessToken;
                        if (data.userId) {
                            document.getElementById('userInfo').innerText = `Updated access token! UserID: ${data.userId}`;
                        } else {
                            document.getElementById('userInfo').innerText = data.error;
                        }

                    })
            }

        }

        function logout() {
            fetch(HOST + '/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },
                body: JSON.stringify({ refreshToken: refreshToken })
            })
                .then(response => response.json())
                .then(data => {
                    accessToken = data.accessToken;
                    console.log(data);
                    document.getElementById('userInfo').innerText = `User ID: ${data.id}`;
                })
                .catch(error => console.error('Error:', error));
            // accessToken = '';
            // refreshToken = '';
            // localStorage.removeItem('accessToken');
            // localStorage.removeItem('refreshToken');
            alert('Logged out successfully!');


        }

        function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            const formData = new FormData();
            formData.append('file', fileInput.files[0]);

            fetch(HOST + '/file/upload', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${accessToken}`
                },
                body: formData
            })
                .then(response => response.json())
                .then(data => alert('File uploaded successfully!'))
                .catch(error => console.error('Error:', error));
        }

        function listFiles() {
            fetch(HOST + '/file/list', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${accessToken}`
                }
            })
                .then(response => response.json())
                .then(data => {
                    const fileList = document.getElementById('fileList');
                    fileList.innerHTML = '';
                    data.files.forEach(file => {
                        const fileItem = document.createElement('div');
                        fileItem.innerText = `File ID: ${file.id}, Name: ${file.name}`;
                        fileList.appendChild(fileItem);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>