<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
</head>

<body>
  <h1>REST API Client  Personal Account</h1>

  <h2>3. Информация о пользователе</h2>
    <button onclick="getUserInfo()">Get User Info</button>
    <div id="userInfo"></div>

    <h2>4. Logout</h2>
    <button onclick="logout()">Logout</button>

  <script>

    let accessToken = '';
    let refreshToken = '';
    const HOST = 'http://localhost:3000';

    function getUserInfo() {
            fetch(HOST + '/info', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${accessToken}`
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('userInfo').innerText = `User ID: ${data.id}`;
            })
            .catch(error => console.error('Error:', error));
        }

        function logout() {
            fetch(HOST + '/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },
                body: JSON.stringify({ refreshToken: refreshToken })
            })
            .then(response => response.json())
            .then(data => {
                accessToken = data.accessToken;
                console.log(data);
                document.getElementById('userInfo').innerText = `User ID: ${data.id}`;
            })
            .catch(error => console.error('Error:', error));
            // accessToken = '';
            // refreshToken = '';
            // localStorage.removeItem('accessToken');
            // localStorage.removeItem('refreshToken');
            alert('Logged out successfully!');


        }
  </script>
</body>

</html>